/* color scheme sourced from http://coolors.co */
  :root {
    --background-color: white;
    --header-color: #A2BCE0;
    --nav-color: #0B5563;
    --gray: #5E5C6C;
    --asparagus: #92AA83;
  }

  * {
      font-family:'Lucida Sans', Geneva, sans-serif;
  }

  p{
    padding: 5px 0;
  }

  body{
      background-color: var(--background-color);
  }

  header{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  header h1{
    background-color: var(--header-color);
    color: var(--nav-color);
    font-size: 32px;
    padding: 25px;
  }

  header nav{
    background-color: var(--nav-color);
    font-size: 24px;
    padding: 25px;
  }

  a{
    display: inline-block;
    color: var(--header-color);
    font-weight: bold;
    margin: 5px;
    border-bottom: 3px solid;
    text-decoration: none;
  }

  figure img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }

  .main-container{
    display: flex;
    flex-direction: column;
    padding:20px;
  }

  .main-container section{
    display: flex;
    flex-direction: column;
  } 

  .main-container section h2{
    font-size: 28px;
    color: var(--nav-color);
    font-weight: bold;
    padding: 10px 0px;
    border-bottom: 3px solid;
    text-decoration: none;
  }

  .main-container section div{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }

  .showcase-item{
    width: 100%;
    border: 6px solid var(--nav-color);
    position: relative;
    margin: 1%;
  }

  .showcase-item img{
    width: 100%;
    height: 20vh;
    object-fit: cover;
    display: block;
  }

  .showcase-item .label{
    position: absolute;
    display: block;
    height: 40%;
    width: 40%;
    bottom: 10%;
    left: -10px;
    color: var(--header-color);
    background-color: var(--nav-color);
  }
  .showcase-item .label h3{
    padding: 2% 0;
    font-size: .75em;
  }

  .showcase-item .label p{
    padding: 2% 0;
    font-size: .75em;
  }

  .showcase-item:hover{
    border: 6px solid var(--asparagus);
  }

  /* Adjust display for Tablet */
  @media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .showcase-item {
      flex: 0 0 48%;
      max-width: 48%;
    }

    .main-showcase-item{
      flex: 0 0 98%;
      max-width: 98%;
    }

    .main-showcase-item img{
      height: 40vh;
    }

    .showcase-item .label h3{
      font-size: .85em;
    }
  
    .showcase-item .label p{
      font-size: .85em;
    }
  
    .main-showcase-item .label h3{
      font-size: 1.2em;
    }
  
    .main-showcase-item .label p{
      font-size: 1.2em;
    }

  }

  /* Adjust display for Desktop */
  @media screen and (min-width: 992px) {
    header{
      flex-direction: row;
      background-color: var(--nav-color);
      padding: 30px 0;
    }

    header h1{
      flex: 0 0 25%;
      text-align: right;
    }

    header nav{
      flex: 0 0 75%;
      text-align: right;
    }

    .main-container section{
      flex-direction: row;
      margin: 10px 100px 0 0;
    }

    .main-container section h2{
      text-align: right;
      padding-right: 10px;
      flex: 0 0 15%;
    }

    .main-container section div{
      flex: 0 0 85%;
    }

    .main-container section h2{ 
      border-bottom: none;
      border-right: 3px solid;
    }

    .showcase-item .label h3{
      font-size: 1em;
    }
  
    .showcase-item .label p{
      font-size: 1em;
    }
  
    .main-showcase-item .label h3{
      font-size: 2em;
    }
  
    .main-showcase-item .label p{
      font-size: 2em;
    }

  }